.aside-container {
  width: 300px;
}

.pencil-icon {
  font-size: 1.25rem !important;
  color: #666;
  cursor: pointer;
}

.pencil-icon:hover {
  color: #000;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-link:hover {
  text-decoration: underline;
  color: #0a66c2;
}
