.nav-hover {
  opacity: 0.7;
}

.nav-hover.active {
  opacity: 1;
  border-bottom: 2px solid black;
}

@media (min-width: 992px) {
  #user-dropdown + .dropdown-menu,
  #second-dropdown + .dropdown-menu {
    margin-top: 35px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 1200px) {
  #user-dropdown + .dropdown-menu,
  #second-dropdown + .dropdown-menu {
    margin-top: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 1400px) {
  #user-dropdown + .dropdown-menu,
  #second-dropdown + .dropdown-menu {
    margin-top: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
}

.no-caret-dropdown .dropdown-toggle::after {
  display: none !important;
}

.no-caret-dropdown .dropdown-toggle {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.custom-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.home-hover:hover {
  background-color: rgb(240, 240, 240);
}

.custom-modal .modal-content {
  border-radius: 10px;
  height: 600px;
}
